{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'My_quizz Admin' %}
{% block page_content %}
 <p>nombre de visiteur du site : {{ nbr_visitor }}</p>
{% endblock %}
