{% extends "layout.html.twig" %}
{% block body %}
    <div class="categoryContainer">
        <div class="topBar">
            <div>
                <h2>{{ category.name|title }}</h2>
                {% if app.user %}
                    <a href="/quizzs/creer/{{ category.id }}">Créer un quizz dans cette catégorie</a>
                {% endif %}
            </div>
        </div>
        <div class="quizzList">
            {% for quizz in quizzs %}
                <a href="/quizzs/{{ quizz.id }}" class="quizz">
                    <h4>{{ quizz.name }}</h4>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}