{% extends "layout.html.twig" %}

{% block body %}
    <div class="errorPage">
        <div id="textBulle">
            <p>Vous vous êtes perdu ? Revenez donc à la page d'accueil pour continuer à répondre à nos quizzs :)</p>
        </div>
        <div>
            <h3>Erreur 404</h3>
            <a href="/">Cliquez ici pour revenir en terrain connu</a>
        </div>
    </div>
{% endblock %}