{% extends "layout.html.twig" %}
{% block body %}
    <div class="confirm">
        <div>
            <p>Veuillez cliquer sur le lien envoyé à votre adresse email pour activer votre compte.</p>
        </div>
    </div>
{% endblock %}